@font-face {
    font-family: 'M Ponderosa';
    src: local("MPonderosa"), url('../fonts/MPonderosa.ttf') format('truetype');
}
@font-face {
    font-family: 'La Gilda';
    src: local("LaGilda"), url('../fonts/LaGilda.otf') format('trueType');
}

@font-face {
    font-family: 'Adelia';
    src: local("Adelia"), url('../fonts/Adelia.otf') format('truetype');
}